Données d'origine : <https://data.enedis.fr/explore/dataset/prod/information/>

In [1]:
import numpy
import pandas
import iso8601

In [2]:
prod_brut = pandas.read_csv("prod.csv", sep = ";")
prod_brut.head()

,Horodate,Plage de puissance injection,Filière de production,Nb points injection,Total énergie injectée (Wh),Courbe Moyenne n°1 (Wh),Indice représentativité Courbe n°1 (%),Courbe Moyenne n°2 (Wh),Indice représentativité Courbe n°2 (%),Courbe Moyenne n°1 + n°2 (Wh),Indice représentativité Courbe n°1 + n°2 (%),Jour max du mois (0/1),Semaine max du mois (0/1)
0,2019-09-24T18:30:00+02:00,P0 : Total toutes puissances,F6 : Autres,157,427798.0,25590.0,46,1313.0,45,13535.0,92,0,0
1,2019-09-24T18:30:00+02:00,P1 : ]0 - 3] kW,F6 : Autres,5,NaN,NaN,S,NaN,S,NaN,S,0,0
2,2019-09-24T18:30:00+02:00,P2 : ]3 - 9] kW,F6 : Autres,0,0.0,NaN,S,NaN,S,NaN,S,0,0
3,2019-09-24T18:30:00+02:00,P5 : ]250 - 1000] kW,F0 : Total toutes filières,1536,56660178.0,63449.0,49,9932.0,49,36655.0,98,0,0
4,2019-09-24T18:30:00+02:00,P5 : ]250 - 1000] kW,F4 : Eolien,12,635666.0,88805.0,50,17138.0,50,52972.0,100,0,0

In [3]:
prod = prod_brut.query('`Plage de puissance injection` == "P0 : Total toutes puissances"')
prod = prod.assign(Date = [iso8601.parse_date(d).strftime("%Y%m%d") for d in prod["Horodate"]])
prod = prod.filter(["Date", "Filière de production", "Total énergie injectée (Wh)"])
prod = prod.groupby(["Date", "Filière de production"])
prod = prod.aggregate(nb = ("Date", "count"), Production = ("Total énergie injectée (Wh)", numpy.sum))
prod = prod.reset_index()
prod = prod.query('nb == 48')
prod.head()

       Date            Filière de production  nb    Production
0  20180101       F0 : Total toutes filières  48  2.837167e+11
1  20180101  F1 : Thermique non renouvelable  48  3.810881e+10
2  20180101                 F2 : Bioénergies  48  1.499302e+10
3  20180101                 F3 : Hydraulique  48  1.531824e+10
4  20180101                      F4 : Eolien  48  2.080416e+11

In [5]:
prod_final = pandas.pivot(prod, index = "Date", columns = "Filière de production", values = "Production")
prod_final = prod_final.drop(columns = "F0 : Total toutes filières")
prod_final = prod_final.reset_index()
prod_final.head()

Filière de production,Date,F1 : Thermique non renouvelable,F2 : Bioénergies,F3 : Hydraulique,F4 : Eolien,F5 : Solaire,F6 : Autres
0,20180101,3.810881e+10,1.499302e+10,1.531824e+10,2.080416e+11,7.040696e+09,137993136.0
1,20180102,3.862201e+10,1.457315e+10,1.579756e+10,1.525662e+11,5.392546e+09,136383120.0
2,20180103,3.812646e+10,1.414417e+10,1.525426e+10,2.081919e+11,5.503013e+09,230064480.0
3,20180104,3.852517e+10,1.486626e+10,1.398220e+10,1.905919e+11,5.847942e+09,327682464.0
4,20180105,3.891543e+10,1.491484e+10,1.366702e+10,1.140034e+11,7.785438e+09,328796976.0

In [10]:
prod_final.to_csv("FilieresProduction.csv", index = False)